{
    "presets": [
        [
            "@nx/js/babel",
            {
                "useBuiltIns": "usage",
                "decorators": {
                    "version": "2023-05"
                }
            }
        ]
    ]
}
