ol, ul {
    list-style: initial !important;
}

ol {
    list-style-type: decimal !important;
}

strong {
    font-weight: bold !important;
}

.sb-story, #storybook-root {
    ol, ul {
        list-style: none !important;
    }

    strong {
        font-weight: 500 !important;
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.story--fixed-width {
    width: 800px;
}