{
    "$schema": "https://raw.githubusercontent.com/JetBrains/web-types/master/schema/web-types.json",
    "name": "uigov-web-components",
    "version": "$VERSION",
    "js-types-syntax": "typescript",
    "description-markup": "markdown",
    "contributions": {
        "html": {
            "elements": $ELEMENTS
        }
    }
}
